@model IEnumerable<quanlyphonghoc.buoihoc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ngay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tietbatdau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sotiet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ngay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tietbatdau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sotiet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.buoihoc1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.buoihoc1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.buoihoc1 })
        </td>
    </tr>
}

</table>
