@model quanlyphonghoc.giangvien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>giangvien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gioitinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioitinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trinhdo.trentrinhdo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trinhdo.trentrinhdo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.magv }) |
    @Html.ActionLink("Back to List", "Index")
</p>
